[Unit]
Description=Flatmailer relay-only MTA
Requires=network.target
After=local-fs.target
ConditionPathExists=/var/spool/flatmailer/queue
ConditionPathExists=/etc/flatmailer/defaultdomain
ConditionPathExists=/etc/flatmailer/me

[Service]
WorkingDirectory=/var/spool/flatmailer
ExecStart=/usr/sbin/flatmailer-send
User=flatmail
Group=flatmail
Restart=always

[Install]
WantedBy=multi-user.target
